
@font-face {
  font-family: 'DTLNobelT-LightItalic';
  src: url('DTLNobelT-LightItalic.eot?#iefix') format('embedded-opentype'),  url('DTLNobelT-LightItalic.otf')  format('opentype'),
	     url('DTLNobelT-LightItalic.woff') format('woff'), url('DTLNobelT-LightItalic.ttf')  format('truetype'), url('DTLNobelT-LightItalic.svg#DTLNobelT-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
