
@font-face {
  font-family: 'DTLNobelT';
  src: url('DTLNobelT.eot?#iefix') format('embedded-opentype'),  url('DTLNobelT.otf')  format('opentype'),
	     url('DTLNobelT.woff') format('woff'), url('DTLNobelT.ttf')  format('truetype'), url('DTLNobelT.svg#DTLNobelT') format('svg');
  font-weight: normal;
  font-style: normal;
}
